
body {
    background: #151577;
    font-family: Arial;
}
h1 {
    color: red;
}
/* mzQLC3DTKuhC8YgxhlT38q0laxBGw9NpT514tLndyxWdskFArFgqgNPFrPfpkzG64OBsjrBiIt6egaj8vCI6dj1zCbdBbQPZhDpZTJfpSufZTwjTW3AfJkyhZdkvLObUunBAYUJKlBMs1MMTAz17rYWstfk4guxcNqFxz4oCtfwkXkNK26TRAAzflMnSzOo6c43VdGJ3 */
